*{
    font-family: "Raleway", sans-serif;
    font-weight: 500;
}

textarea {
  width: 250px;
  height: 200px;
  display: block;
  font-family: monospace;
}

.request-zone{
  display: inline-block;
  vertical-align: top;
  padding-top: 10%;
  width: 40%;
}


.response-zone {
  padding-top: 10%;
  padding-left: 20px;
  width: 50%;
  height: 400px;
  display: inline-block;
  vertical-align: top;
    
}

#userName{
  width: 100%;
  height: 40px;
  display: inline;
}
header {
    width: 70%;
    height: 120px;
    margin-left: 10%;
    margin-right: 10%;
    line-height: 120px;
    text-align: center;
    top: 0;
    z-index: 1000;
    display: block;
    border-bottom: 1px solid;
    border-bottom-color: #EDEDED;        
}

body {
    margin: auto;
    top: 0;
    height: 500px;
}

header > span {
    font-size: 55px;
    vertical-align: middle;
    line-height: normal; 
    margin-left: 5px;
}

#userLogin {    
    display: block;
    
}

#user-name-set-btn {
    float: right;
    display: inline-block;
    margin-left: 0px;
    margin-top: 0px;
    margin: 0px;
}

#userLogin > span {
    display: block;
}

#LeaveMessage {

    display: block;
}

#user-input-area {
    width: 100%;
    height: 60px;
}

#log-area {
  width: 100%;
  height: 100%;  
}

.response-zone > span {
    font-size: 28px;
    
}

#user-input-send-btn {
    float: right;
    display: block;
    margin: 0px;
    margin-top: 15px;
}

#LeaveMessage > span {
    display: block;
}

#msgArea {
    width: inherit;
    height: inherit;
}

#container {
    width: 70%;
    margin: auto;
}

#nameContainer {
    padding-bottom: 20px;
}

#msgContainer {
    width: 100%;
    padding-bottom: 20px;
}

#moodContainer {
    width: 100%;
}


.mood {
    margin: auto;
}


#refresh-btn {
    float: right;
    font-size: 20px;
}



#refreshContainer {
    float: right;
    width: 20px;
    height: 20px;
    margin-bottom: 3px;    
}
